[loggers]
keys=root,console

[handlers]
keys=hand01,hand02

[formatters]
keys=basic

[logger_root]
level=NOTSET
handlers=hand01,hand02

[logger_console]
level=DEBUG
handlers=hand02
propagate=1
qualname=compiler.parser

[handler_hand01]
class=handlers.TimedRotatingFileHandler
level=INFO
formatter=basic
args=('DiscordBot.log', 'D', 1, 10)

[handler_hand02]
class=StreamHandler
level=NOTSET
formatter=basic
args=(sys.stdout,)

[formatter_basic]
format=[%(asctime)s - %(name)s - %(levelname)s - %(message)s]
datefmt=%Y/%m/%d %H:%M:%S
class=logging.Formatter
